In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

from Utils import utils

### 1er tour

In [2]:
df_Tour1 = pd.read_csv('donnees/ResultatsElections1erTour.csv', sep=';', low_memory=False)
print(df_Tour1.shape)
df_Tour1.head()

(69682, 105)

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,...,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104
0,01,Ain,4,4ème circonscription,1,L'Abergement-Clémenciat,0001,645,108,"16,74",...,3,"0,47","0,58",12,M,DUPONT-AIGNAN,Nicolas,21,"3,26","4,04"
1,01,Ain,5,5ème circonscription,2,L'Abergement-de-Varey,0001,213,38,"17,84",...,3,"1,41","1,75",12,M,DUPONT-AIGNAN,Nicolas,0,0,0
2,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0001,1129,266,"23,56",...,8,"0,71","0,95",12,M,DUPONT-AIGNAN,Nicolas,13,"1,15","1,55"
3,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0002,1128,265,"23,49",...,4,"0,35","0,48",12,M,DUPONT-AIGNAN,Nicolas,20,"1,77","2,38"
4,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0003,1213,246,"20,28",...,3,"0,25","0,32",12,M,DUPONT-AIGNAN,Nicolas,19,"1,57",2

In [3]:
utils.sieges(df_Tour1, True)

Ext_Droite         204
Emmanuel MACRON    137
NUPES              236
Name: 0, dtype: int64

In [4]:
utils.sieges(df_Tour1, False)

Marine LE PEN         205
Emmanuel MACRON       267
Jean-Luc MÉLENCHON    105
Name: 0, dtype: int64

## Tour 2

In [5]:
df_Tour2 = pd.read_csv('donnees/ResultatsElections2ndTour.txt', sep=';', encoding = 'latin1')
print(df_Tour2.shape)
df_Tour2.head()

(69682, 28)

                                                              Code du département  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001                  643
       5 5ème circonscription 2 L'Abergement-de-Varey   0001                  213
                              4 Ambérieu-en-Bugey       0001                 1130
                                                        0002                 1129
                                                        0003                 1213

                                                              Libellé du département  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001                     146
       5 5ème circonscription 2 L'Abergement-de-Varey   0001                      45
                              4 Ambérieu-en-Bugey       0001                     322
                                                        0002                     313
                                                        0003                     303

                                                             Code de la circonscription  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001                      22,71
       5 5ème circonscription 2 L'Abergement-de-Varey   0001                      21,13
                              4 Ambérieu-en-Bugey       0001                      28,50
                                                        0002                      27,72
                                                        0003                      24,98

                                                              Libellé de la circonscription  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001                            497
       5 5ème circonscription 2 L'Abergement-de-Varey   0001                            168
                              4 Ambérieu-en-Bugey       0001                            808
                                                        0002                            816
                                                        0003                            910

                                                             Code de la commune  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001              77,29
       5 5ème circonscription 2 L'Abergement-de-Varey   0001              78,87
                              4 Ambérieu-en-Bugey       0001              71,50
                                                        0002              72,28
                                                        0003              75,02

                                                              Libellé de la commune  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001                     42
       5 5ème circonscription 2 L'Abergement-de-Varey   0001                     23
                              4 Ambérieu-en-Bugey       0001                     71
                                                        0002                     45
                                                        0003                     87

                                                             Code du b.vote  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001           6,53
       5 5ème circonscription 2 L'Abergement-de-Varey   0001          10,80
                              4 Ambérieu-en-Bugey       0001           6,28
                                                        0002           3,99
                                                        0003           7,17

                                                             Inscrits  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001     8,45
       5 5ème circonscription 2 L'Abergement-de-Varey   0001    13,69
                              4 Ambérieu-en-Bugey       0001     8,79
                                                        0002     5,51
                                                        0003     9,56

                                                              Abstentions  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001            5
       5 5ème circonscription 2 L'Abergement-de-Varey   0001            3
                              4 Ambérieu-en-Bugey       0001           22
                                                        0002           18
                                                        0003           21

                                                             % Abs/Ins  ...  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001      0,78  ...
       5 5ème circonscription 2 L'Abergement-de-Varey   0001      1,41  ...
                              4 Ambérieu-en-Bugey       0001      1,95  ...
                                                        0002      1,59  ...
                                                        0003      1,73  ...

                                                             Exprimés  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001      237
       5 5ème circonscription 2 L'Abergement-de-Varey   0001       94
                              4 Ambérieu-en-Bugey       0001      360
                                                        0002      426
                                                        0003      449

                                                              % Exp/Ins  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001      36,86
       5 5ème circonscription 2 L'Abergement-de-Varey   0001      44,13
                              4 Ambérieu-en-Bugey       0001      31,86
                                                        0002      37,73
                                                        0003      37,02

                                                             % Exp/Vot  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001     52,67
       5 5ème circonscription 2 L'Abergement-de-Varey   0001     66,20
                              4 Ambérieu-en-Bugey       0001     50,35
                                                        0002     56,57
                                                        0003     55,99

                                                             N°Panneau  Sexe  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001         2     F
       5 5ème circonscription 2 L'Abergement-de-Varey   0001         2     F
                              4 Ambérieu-en-Bugey       0001         2     F
                                                        0002         2     F
                                                        0003         2     F

                                                                 Nom  Prénom  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001  LE PEN  Marine
       5 5ème circonscription 2 L'Abergement-de-Varey   0001  LE PEN  Marine
                              4 Ambérieu-en-Bugey       0001  LE PEN  Marine
                                                        0002  LE PEN  Marine
                                                        0003  LE PEN  Marine

                                                             Voix  % Voix/Ins  \
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001  213       33,13
       5 5ème circonscription 2 L'Abergement-de-Varey   0001   48       22,54
                              4 Ambérieu-en-Bugey       0001  355       31,42
                                                        0002  327       28,96
                                                        0003  353       29,10

                                                             % Voix/Exp
01 Ain 4 4ème circonscription 1 L'Abergement-Clémenciat 0001      47,33
       5 5ème circonscription 2 L'Abergement-de-Varey   0001      33,80
                              4 Ambérieu-en-Bugey       0001      49,65
                                                        0002      43,43
                                                        0003      44,01

[5 rows x 28 columns]

In [6]:
df_Tour2 = df_Tour2.reset_index(level=[1, 2])
colonnes = ['Libellé du département', 'Code de la circonscription', 'Inscrits', 'Abstentions',
            '% Abs/Ins', 'Votants', '% Vot/Ins', 'Blancs', '% Blancs/Ins', '% Blancs/Vot', 'Nuls',
            '% Nuls/Ins', '% Nuls/Vot', 'Exprimés', '% Exp/Ins', '% Exp/Vot']

liste = ['N°Panneau', 'Sexe', 'Nom', 'Prénom', 'Voix', '% Voix/Ins', '% Voix/Exp']
for name in ['Macron', 'Le Pen']:
    for elt in liste:
        colonnes.append(elt + ' ' + name)
df_Tour2.columns = colonnes

colonnesAGarder = ['Libellé du département', 'Code de la circonscription',
                   'Inscrits', 'Abstentions', 'Votants', 'Blancs', 'Nuls', 'Exprimés']
for col in df_Tour2.columns:
    if 'Voix ' in col:
        colonnesAGarder.append(col)

df_Tour2 = df_Tour2[colonnesAGarder]

for i in range(df_Tour2.shape[1]):
    if 'Voix ' in colonnesAGarder[i]:
        colonnesAGarder[i] = colonnesAGarder[i][5:]
df_Tour2.columns = colonnesAGarder
df_Tour2 = df_Tour2.reset_index(drop=True)
df_Tour2.head(10)

,Libellé du département,Code de la circonscription,Inscrits,Abstentions,Votants,Blancs,Nuls,Exprimés,Macron,Le Pen
0,Ain,4,643,146,497,42,5,450,237,213
1,Ain,5,213,45,168,23,3,142,94,48
2,Ain,5,1130,322,808,71,22,715,360,355
3,Ain,5,1129,313,816,45,18,753,426,327
4,Ain,5,1213,303,910,87,21,802,449,353
5,Ain,5,932,270,662,55,21,586,313,273
6,Ain,5,1046,386,660,47,23,590,306,284
7,Ain,5,1150,318,832,46,35,751,424,327
8,Ain,5,1034,286,748,53,10,685,373,312
9,Ain,5,1129,250,879,57,15,807,429,378

In [7]:
df_Tour2['ind'] = df_Tour2.apply(lambda x: x['Libellé du département'] + str(x['Code de la circonscription']), axis=1)
df_Tour2 = df_Tour2.groupby('ind').sum()

for col in ['Macron', 'Le Pen']:
    df_Tour2[col] = (df_Tour2[col] * 100 / df_Tour2['Exprimés'])

df_Tour2.drop(['Code de la circonscription', 'Inscrits', 'Abstentions',
              'Votants', 'Blancs', 'Nuls', 'Exprimés'], axis=1, inplace=True)

df_Tour2.head(10)

           Macron     Le Pen
ind
Ain1    54.275272  45.724728
Ain2    55.208038  44.791962
Ain3    62.636285  37.363715
Ain4    52.461263  47.538737
Ain5    50.793495  49.206505
Aisne1  39.781892  60.218108
Aisne2  43.555510  56.444490
Aisne3  34.550007  65.449993
Aisne4  40.665164  59.334836
Aisne5  41.429825  58.570175

In [8]:
df_Tour2['Gagnant(e)'] = pd.Series('')
liste = ['Emmanuel MACRON', 'Marine LE PEN']
data = df_Tour2.values
for i in range(df_Tour2.shape[0]):
    amax = data[i, :-1].argmax()
    col = amax%data.shape[1]
    df_Tour2['Gagnant(e)'][i] = liste[col]
df_Tour2.head(10)

           Macron     Le Pen       Gagnant(e)
ind
Ain1    54.275272  45.724728  Emmanuel MACRON
Ain2    55.208038  44.791962  Emmanuel MACRON
Ain3    62.636285  37.363715  Emmanuel MACRON
Ain4    52.461263  47.538737  Emmanuel MACRON
Ain5    50.793495  49.206505  Emmanuel MACRON
Aisne1  39.781892  60.218108    Marine LE PEN
Aisne2  43.555510  56.444490    Marine LE PEN
Aisne3  34.550007  65.449993    Marine LE PEN
Aisne4  40.665164  59.334836    Marine LE PEN
Aisne5  41.429825  58.570175    Marine LE PEN

## Analyse plus fine

In [9]:
df_Tour1.head()

,Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,...,Voix Philippe POUTOU,% Voix/Ins Philippe POUTOU,% Voix/Exp Philippe POUTOU,N°Panneau Nicolas DUPONT-AIGNAN,Sexe Nicolas DUPONT-AIGNAN,Nom Nicolas DUPONT-AIGNAN,Prénom Nicolas DUPONT-AIGNAN,Voix Nicolas DUPONT-AIGNAN,% Voix/Ins Nicolas DUPONT-AIGNAN,% Voix/Exp Nicolas DUPONT-AIGNAN
0,01,Ain,4,4ème circonscription,1,L'Abergement-Clémenciat,0001,645,108,"16,74",...,3,"0,47","0,58",12,M,DUPONT-AIGNAN,Nicolas,21,"3,26","4,04"
1,01,Ain,5,5ème circonscription,2,L'Abergement-de-Varey,0001,213,38,"17,84",...,3,"1,41","1,75",12,M,DUPONT-AIGNAN,Nicolas,0,0,0
2,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0001,1129,266,"23,56",...,8,"0,71","0,95",12,M,DUPONT-AIGNAN,Nicolas,13,"1,15","1,55"
3,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0002,1128,265,"23,49",...,4,"0,35","0,48",12,M,DUPONT-AIGNAN,Nicolas,20,"1,77","2,38"
4,01,Ain,5,5ème circonscription,4,Ambérieu-en-Bugey,0003,1213,246,"20,28",...,3,"0,25","0,32",12,M,DUPONT-AIGNAN,Nicolas,19,"1,57",2

In [10]:
df2 = utils.selectionnes(df_Tour1, alliances=False)

Les seconds tours :
['Emmanuel MACRON', 'Jean-Luc MÉLENCHON', 'Marine LE PEN']
['Emmanuel MACRON', 'Marine LE PEN']
['Emmanuel MACRON', 'Jean-Luc MÉLENCHON']
['Jean-Luc MÉLENCHON', 'Marine LE PEN']
['Jean-Luc MÉLENCHON']
['Emmanuel MACRON', 'Éric ZEMMOUR']
['Emmanuel MACRON', 'Jean LASSALLE', 'Jean-Luc MÉLENCHON', 'Marine LE PEN']
['Emmanuel MACRON', 'Valérie PÉCRESSE']

In [11]:
for i in range(df2.shape[0]):
    # Cas 2 : 'Emmanuel MACRON', 'Marine LE PEN'
    # Le gagnant est le gagnant du second tour de la présidentielle dans la circonscription
    if df2.iloc[i, -2] == ['Emmanuel MACRON', 'Marine LE PEN']:
        df2.iloc[i, -1] = df_Tour2['Gagnant(e)'][i]

    # Cas 5 : 'Jean-Luc MÉLENCHON'
    # Le gagnant est donc JLM
    if df2.iloc[i, -2] == ['Jean-Luc MÉLENCHON']:
        df2.iloc[i, -1] = 'Jean-Luc MÉLENCHON'

    # Pour les autres cas, on va reporter les voix des autres candidats :
    score = []
    # Cas 1 : 'Emmanuel MACRON', 'Jean-Luc MÉLENCHON', 'Marine LE PEN'
    if df2.iloc[i, -2] == ['Emmanuel MACRON', 'Jean-Luc MÉLENCHON', 'Marine LE PEN']:
        score.append(df2['Emmanuel MACRON'][i] + df2['Valérie PÉCRESSE'][i])
        score.append(
            df2['Jean-Luc MÉLENCHON'][i] + df2['Fabien ROUSSEL'][i] + df2['Anne HIDALGO'][i] + df2['Yannick JADOT'][i])
        score.append(df2['Marine LE PEN'][i] + df2['Éric ZEMMOUR'][i] + df2['Nicolas DUPONT-AIGNAN'][i])
        amax = np.argmax(np.array(score), axis=0)
        df2.iloc[i, -1] = df2.iloc[i, -2][amax]

    # Cas 3 : 'Emmanuel MACRON', 'Jean-Luc MÉLENCHON'
    if df2.iloc[i, -2] == ['Emmanuel MACRON', 'Jean-Luc MÉLENCHON']:
        score.append(df2['Emmanuel MACRON'][i] + df2['Valérie PÉCRESSE'][i])
        score.append(
            df2['Jean-Luc MÉLENCHON'][i] + df2['Fabien ROUSSEL'][i] + df2['Anne HIDALGO'][i] + df2['Yannick JADOT'][i])
        amax = np.argmax(np.array(score), axis=0)
        df2.iloc[i, -1] = df2.iloc[i, -2][amax]

    # Cas 4 : 'Jean-Luc MÉLENCHON', 'Marine LE PEN'
    if df2.iloc[i, -2] == ['Jean-Luc MÉLENCHON', 'Marine LE PEN']:
        score.append(
            df2['Jean-Luc MÉLENCHON'][i] + df2['Fabien ROUSSEL'][i] + df2['Anne HIDALGO'][i] + df2['Yannick JADOT'][i])
        score.append(df2['Marine LE PEN'][i] + df2['Éric ZEMMOUR'][i] + df2['Nicolas DUPONT-AIGNAN'][i])
        amax = np.argmax(np.array(score), axis=0)
        df2.iloc[i, -1] = df2.iloc[i, -2][amax]

    # Cas 6 : 'Emmanuel MACRON', 'Éric ZEMMOUR'
    if df2.iloc[i, -2] == ['Emmanuel MACRON', 'Éric ZEMMOUR']:
        score.append(df2['Emmanuel MACRON'][i] + df2['Valérie PÉCRESSE'][i])
        score.append(df2['Éric ZEMMOUR'][i] + df2['Marine LE PEN'][i] + df2['Nicolas DUPONT-AIGNAN'][i])
        amax = np.argmax(np.array(score), axis=0)
        df2.iloc[i, -1] = df2.iloc[i, -2][amax]

    # Cas 7 : 'Emmanuel MACRON', 'Jean LASSALLE', 'Jean-Luc MÉLENCHON', 'Marine LE PEN'
    if df2.iloc[i, -2] == ['Emmanuel MACRON', 'Jean LASSALLE', 'Jean-Luc MÉLENCHON', 'Marine LE PEN']:
        score.append(df2['Emmanuel MACRON'][i] + df2['Valérie PÉCRESSE'][i])
        score.append(df2['Jean LASSALLE'][i])
        score.append(
            df2['Jean-Luc MÉLENCHON'][i] + df2['Fabien ROUSSEL'][i] + df2['Anne HIDALGO'][i] + df2['Yannick JADOT'][i])
        score.append(df2['Marine LE PEN'][i] + df2['Éric ZEMMOUR'][i] + df2['Nicolas DUPONT-AIGNAN'][i])
        amax = np.argmax(np.array(score), axis=0)
        df2.iloc[i, -1] = df2.iloc[i, -2][amax]

    # Cas 8 : 'Emmanuel MACRON', 'Valérie PÉCRESSE'
    if df2.iloc[i, -2] == ['Emmanuel MACRON', 'Valérie PÉCRESSE']:
        score.append(df2['Emmanuel MACRON'][i])
        score.append(df2['Valérie PÉCRESSE'][i])
        amax = np.argmax(np.array(score), axis=0)
        df2.iloc[i, -1] = df2.iloc[i, -2][amax]

In [12]:
df_Sieges = pd.DataFrame()
for col in df2['Gagnant(e)'].unique():
    df_Sieges[col] = df2[df2['Gagnant(e)'] == col].count()
df_Sieges.reset_index(drop=True, inplace=True)
df_Sieges = df_Sieges.iloc[0, :]
df_Sieges.head(df_Sieges.shape[0])

Marine LE PEN         229
Emmanuel MACRON       208
Jean-Luc MÉLENCHON    140
Name: 0, dtype: int64

### Si alliances

In [13]:
df_alliances = utils.selectionnes(df_Tour1, alliances=True)

Les seconds tours :
['Ext_Droite', 'LREM', 'NUPES']
['LREM', 'NUPES']
['Ext_Droite', 'LREM']
['Ext_Droite', 'NUPES']
['NUPES']
['LREM', 'Éric ZEMMOUR']
['LREM', 'NUPES', 'Éric ZEMMOUR']
['Ext_Droite', 'Jean LASSALLE', 'LREM', 'NUPES']
['LREM', 'Valérie PÉCRESSE']

In [14]:
df_Tour2['Gagnant(e)'] = pd.Series('')
liste = ['LREM', 'Ext_Droite']
data = df_Tour2.values
for i in range(df_Tour2.shape[0]):
    amax = data[i, :-1].argmax()
    col = amax%data.shape[1]
    df_Tour2['Gagnant(e)'][i] = liste[col]
df_Tour2.head(10)

           Macron     Le Pen  Gagnant(e)
ind
Ain1    54.275272  45.724728        LREM
Ain2    55.208038  44.791962        LREM
Ain3    62.636285  37.363715        LREM
Ain4    52.461263  47.538737        LREM
Ain5    50.793495  49.206505        LREM
Aisne1  39.781892  60.218108  Ext_Droite
Aisne2  43.555510  56.444490  Ext_Droite
Aisne3  34.550007  65.449993  Ext_Droite
Aisne4  40.665164  59.334836  Ext_Droite
Aisne5  41.429825  58.570175  Ext_Droite

In [15]:
df_alliances.head()

,Nathalie ARTHAUD,LREM,Jean LASSALLE,Éric ZEMMOUR,Valérie PÉCRESSE,Philippe POUTOU,NUPES,Ext_Droite,Nathalie ARTHAUD (% des Inscrits),LREM (% des Inscrits),Jean LASSALLE (% des Inscrits),Éric ZEMMOUR (% des Inscrits),Valérie PÉCRESSE (% des Inscrits),Philippe POUTOU (% des Inscrits),NUPES (% des Inscrits),Ext_Droite (% des Inscrits),Sélectionnés,Gagnant(e)
ind,,,,,,,,,,,,,,,,,,
Ain1,0.483350,27.178885,3.734142,7.584167,5.701086,0.666321,24.768236,29.883813,0.369796,20.793719,2.856876,5.802410,4.361723,0.509782,18.949407,22.863176,"[Ext_Droite, LREM, NUPES]",NaN
Ain2,0.455323,28.361223,2.577591,8.645993,5.092158,0.600666,25.379757,28.887288,0.356198,22.186893,2.016441,6.763732,3.983579,0.469899,19.854502,22.598432,"[Ext_Droite, LREM, NUPES]",NaN
Ain3,0.458953,30.870008,3.094177,8.067558,4.866570,0.707622,29.337940,22.597173,0.337423,22.695706,2.274847,5.931288,3.577914,0.520245,21.569325,16.613497,"[Ext_Droite, LREM, NUPES]",NaN
Ain4,0.516767,28.679219,3.030511,8.433205,5.509896,0.611600,21.592908,31.625893,0.398478,22.114478,2.336820,6.502824,4.248667,0.471603,16.650240,24.386651,"[Ext_Droite, LREM, NUPES]",NaN
Ain5,0.589329,22.743537,4.146350,8.531238,5.172414,0.699828,28.047497,30.069807,0.435549,16.808825,3.064399,6.305092,3.822721,0.517215,20.728767,22.223374,"[Ext_Droite, LREM, NUPES]",NaN

In [16]:
for i in range(df_alliances.shape[0]):
    score = []
    # Cas 1 : 'Ext_Droite', 'LREM', 'NUPES'
    if df_alliances.iloc[i, -2] == ['Ext_Droite', 'LREM', 'NUPES']:
        score.append(df_alliances['Ext_Droite'][i] + df_alliances['Éric ZEMMOUR'][i])
        score.append(df_alliances['LREM'][i] + df_alliances['Valérie PÉCRESSE'][i])
        score.append(df_alliances['NUPES'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances.iloc[i, -1] = df_alliances.iloc[i, -2][amax]

    # Cas 2 : 'LREM', 'NUPES'
    if df_alliances.iloc[i, -2] == ['LREM', 'NUPES']:
        score.append(df_alliances['LREM'][i] + df_alliances['Valérie PÉCRESSE'][i])
        score.append(df_alliances['NUPES'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances.iloc[i, -1] = df_alliances.iloc[i, -2][amax]

    # Cas 3 : 'Ext_Droite', 'LREM'
    if df_alliances.iloc[i, -2] == ['Ext_Droite', 'LREM']:
        df_alliances.iloc[i, -1] = df_Tour2['Gagnant(e)'][i]

    # Cas 4 : 'Ext_Droite', 'NUPES'
    if df_alliances.iloc[i, -2] == ['Ext_Droite', 'NUPES']:
        score.append(df_alliances['Ext_Droite'][i] + df_alliances['Éric ZEMMOUR'][i])
        score.append(df_alliances['NUPES'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances.iloc[i, -1] = df_alliances.iloc[i, -2][amax]

    # Cas 5 : 'NUPES'
    if df_alliances.iloc[i, -2] == ['NUPES']:
        df_alliances.iloc[i, -1] = 'NUPES'

    # Cas 6 : 'LREM', 'Éric ZEMMOUR'
    if df_alliances.iloc[i, -2] == ['LREM', 'Éric ZEMMOUR']:
        score.append(df_alliances['Éric ZEMMOUR'][i] + df_alliances['Ext_Droite'][i])
        score.append(df_alliances['LREM'][i] + df_alliances['Valérie PÉCRESSE'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances.iloc[i, -1] = df_alliances.iloc[i, -2][amax]

    # Cas 7 : 'LREM', 'NUPES', 'Éric ZEMMOUR'
    if df_alliances.iloc[i, -2] == ['LREM', 'NUPES', 'Éric ZEMMOUR']:
        score.append(df_alliances['LREM'][i] + df_alliances['Valérie PÉCRESSE'][i])
        score.append(df_alliances['NUPES'][i])
        score.append(df_alliances['Éric ZEMMOUR'][i] + df_alliances['Ext_Droite'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances.iloc[i, -1] = df_alliances.iloc[i, -2][amax]

    # Cas 8 : 'Ext_Droite', 'Jean LASSALLE', 'LREM', 'NUPES'
    if df_alliances.iloc[i, -2] == ['Ext_Droite', 'Jean LASSALLE', 'LREM', 'NUPES']:
        score.append(df_alliances['Ext_Droite'][i] + df_alliances['Éric ZEMMOUR'][i])
        score.append(df_alliances['LREM'][i] + df_alliances['Valérie PÉCRESSE'][i])
        score.append(df_alliances['Jean LASSALLE'][i])
        score.append(df_alliances['NUPES'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances.iloc[i, -1] = df_alliances.iloc[i, -2][amax]

    # Cas 9 : 'LREM', 'Valérie PÉCRESSE'
    if df_alliances.iloc[i, -2] == ['LREM', 'Valérie PÉCRESSE']:
        score.append(df_alliances['LREM'][i])
        score.append(df_alliances['Valérie PÉCRESSE'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances.iloc[i, -1] = df_alliances.iloc[i, -2][amax]

In [17]:
df_Sieges = pd.DataFrame()
for col in df_alliances['Gagnant(e)'].unique():
    df_Sieges[col] = df_alliances[df_alliances['Gagnant(e)'] == col].count()
df_Sieges.reset_index(drop=True, inplace=True)
df_Sieges = df_Sieges.iloc[0, :]
df_Sieges.head(df_Sieges.shape[0])

Ext_Droite      259
LREM            177
NUPES           140
Éric ZEMMOUR      1
Name: 0, dtype: int64

#### Si Nathalie Artaud et Philippe Poutou se rallient à la NUPES

In [18]:
df_alliances2 = utils.selectionnes(df_Tour1, alliances=True)

Les seconds tours :
['Ext_Droite', 'LREM', 'NUPES']
['LREM', 'NUPES']
['Ext_Droite', 'LREM']
['Ext_Droite', 'NUPES']
['NUPES']
['LREM', 'Éric ZEMMOUR']
['LREM', 'NUPES', 'Éric ZEMMOUR']
['Ext_Droite', 'Jean LASSALLE', 'LREM', 'NUPES']
['LREM', 'Valérie PÉCRESSE']

In [19]:
df_alliances2.head()

,Nathalie ARTHAUD,LREM,Jean LASSALLE,Éric ZEMMOUR,Valérie PÉCRESSE,Philippe POUTOU,NUPES,Ext_Droite,Nathalie ARTHAUD (% des Inscrits),LREM (% des Inscrits),Jean LASSALLE (% des Inscrits),Éric ZEMMOUR (% des Inscrits),Valérie PÉCRESSE (% des Inscrits),Philippe POUTOU (% des Inscrits),NUPES (% des Inscrits),Ext_Droite (% des Inscrits),Sélectionnés,Gagnant(e)
ind,,,,,,,,,,,,,,,,,,
Ain1,0.483350,27.178885,3.734142,7.584167,5.701086,0.666321,24.768236,29.883813,0.369796,20.793719,2.856876,5.802410,4.361723,0.509782,18.949407,22.863176,"[Ext_Droite, LREM, NUPES]",NaN
Ain2,0.455323,28.361223,2.577591,8.645993,5.092158,0.600666,25.379757,28.887288,0.356198,22.186893,2.016441,6.763732,3.983579,0.469899,19.854502,22.598432,"[Ext_Droite, LREM, NUPES]",NaN
Ain3,0.458953,30.870008,3.094177,8.067558,4.866570,0.707622,29.337940,22.597173,0.337423,22.695706,2.274847,5.931288,3.577914,0.520245,21.569325,16.613497,"[Ext_Droite, LREM, NUPES]",NaN
Ain4,0.516767,28.679219,3.030511,8.433205,5.509896,0.611600,21.592908,31.625893,0.398478,22.114478,2.336820,6.502824,4.248667,0.471603,16.650240,24.386651,"[Ext_Droite, LREM, NUPES]",NaN
Ain5,0.589329,22.743537,4.146350,8.531238,5.172414,0.699828,28.047497,30.069807,0.435549,16.808825,3.064399,6.305092,3.822721,0.517215,20.728767,22.223374,"[Ext_Droite, LREM, NUPES]",NaN

In [20]:
for i in range(df_alliances2.shape[0]):
    score = []
    # Cas 1 : 'Ext_Droite', 'LREM', 'NUPES'
    if df_alliances2.iloc[i, -2] == ['Ext_Droite', 'LREM', 'NUPES']:
        score.append(df_alliances2['Ext_Droite'][i] + df_alliances2['Éric ZEMMOUR'][i])
        score.append(df_alliances2['LREM'][i] + df_alliances2['Valérie PÉCRESSE'][i])
        score.append(df_alliances2['NUPES'][i] + df_alliances2['Nathalie ARTHAUD'][i] + df_alliances2['Philippe POUTOU'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances2.iloc[i, -1] = df_alliances2.iloc[i, -2][amax]

    # Cas 2 : 'LREM', 'NUPES'
    if df_alliances2.iloc[i, -2] == ['LREM', 'NUPES']:
        score.append(df_alliances2['LREM'][i] + df_alliances2['Valérie PÉCRESSE'][i])
        score.append(df_alliances2['NUPES'][i] + df_alliances2['Nathalie ARTHAUD'][i] + df_alliances2['Philippe POUTOU'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances2.iloc[i, -1] = df_alliances2.iloc[i, -2][amax]

    # Cas 3 : 'Ext_Droite', 'LREM'
    if df_alliances2.iloc[i, -2] == ['Ext_Droite', 'LREM']:
        df_alliances2.iloc[i, -1] = df_Tour2['Gagnant(e)'][i]

    # Cas 4 : 'Ext_Droite', 'NUPES'
    if df_alliances2.iloc[i, -2] == ['Ext_Droite', 'NUPES']:
        score.append(df_alliances2['Ext_Droite'][i] + df_alliances2['Éric ZEMMOUR'][i])
        score.append(df_alliances2['NUPES'][i] + df_alliances2['Nathalie ARTHAUD'][i] + df_alliances2['Philippe POUTOU'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances2.iloc[i, -1] = df_alliances2.iloc[i, -2][amax]

    # Cas 5 : 'NUPES'
    if df_alliances2.iloc[i, -2] == ['NUPES']:
        df_alliances2.iloc[i, -1] = 'NUPES'

    # Cas 6 : 'LREM', 'Éric ZEMMOUR'
    if df_alliances2.iloc[i, -2] == ['LREM', 'Éric ZEMMOUR']:
        score.append(df_alliances2['Éric ZEMMOUR'][i] + df_alliances2['Ext_Droite'][i])
        score.append(df_alliances2['LREM'][i] + df_alliances2['Valérie PÉCRESSE'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances2.iloc[i, -1] = df_alliances2.iloc[i, -2][amax]

    # Cas 7 : 'LREM', 'NUPES', 'Éric ZEMMOUR'
    if df_alliances2.iloc[i, -2] == ['LREM', 'NUPES', 'Éric ZEMMOUR']:
        score.append(df_alliances2['LREM'][i] + df_alliances2['Valérie PÉCRESSE'][i])
        score.append(df_alliances2['NUPES'][i] + df_alliances2['Nathalie ARTHAUD'][i] + df_alliances2['Philippe POUTOU'][i])
        score.append(df_alliances2['Éric ZEMMOUR'][i] + df_alliances2['Ext_Droite'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances2.iloc[i, -1] = df_alliances2.iloc[i, -2][amax]

    # Cas 8 : 'Ext_Droite', 'Jean LASSALLE', 'LREM', 'NUPES'
    if df_alliances2.iloc[i, -2] == ['Ext_Droite', 'Jean LASSALLE', 'LREM', 'NUPES']:
        score.append(df_alliances2['Ext_Droite'][i] + df_alliances2['Éric ZEMMOUR'][i])
        score.append(df_alliances2['LREM'][i] + df_alliances2['Valérie PÉCRESSE'][i])
        score.append(df_alliances2['Jean LASSALLE'][i])
        score.append(df_alliances2['NUPES'][i] + df_alliances2['Nathalie ARTHAUD'][i] + df_alliances2['Philippe POUTOU'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances2.iloc[i, -1] = df_alliances2.iloc[i, -2][amax]

    # Cas 9 : 'LREM', 'Valérie PÉCRESSE'
    if df_alliances2.iloc[i, -2] == ['LREM', 'Valérie PÉCRESSE']:
        score.append(df_alliances2['LREM'][i])
        score.append(df_alliances2['Valérie PÉCRESSE'][i])
        amax = np.argmax(np.array(score), axis=0)
        df_alliances2.iloc[i, -1] = df_alliances2.iloc[i, -2][amax]

In [21]:
df_Sieges = pd.DataFrame()
for col in df_alliances2['Gagnant(e)'].unique():
    df_Sieges[col] = df_alliances2[df_alliances2['Gagnant(e)'] == col].count()
df_Sieges.reset_index(drop=True, inplace=True)
df_Sieges = df_Sieges.iloc[0, :]
df_Sieges.head(df_Sieges.shape[0])

Ext_Droite      255
LREM            162
NUPES           159
Éric ZEMMOUR      1
Name: 0, dtype: int64